/* Reset de estilos para garantir uma base consistente em diferentes navegadores */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos gerais para o corpo da página */
body {
    font-family: 'Inconsolata', monospace;
    line-height: 1.6;
    padding: 2%;
}

/* Estilos para o cabeçalho */
header {
    background-color: #333;
    color: #ffffff;
    padding: 15px;
    border-radius: 8px;
    top: 0;
    left: 0;
    z-index: 1000;
    
}

@media (max-width: 768px) {
    header {
      flex-direction: column; /* Altera a direção para coluna em telas menores */
      align-items: center; /* Alinha os itens ao centro */
      padding: 10px; /* Ajuste o padding conforme necessário */
    }
  
    .nav ul {
      margin-bottom: 10px; /* Adiciona espaço entre os links de navegação e o elemento usuario */
    }
  
    .usuario {
      order: -1; /* Move o elemento usuario para o início da coluna */
      margin-top: 10px; /* Adiciona espaço entre os links de navegação e o elemento usuario */
    }
  }

.nav ul {
    list-style: none;
    padding: 0;
    justify-content: center;
}

.sobre {
    display: block;
}


.nav a {
    text-decoration: none;
    color: #ffffff;
    padding: 0 10px; /* Espaçamento entre os links */
}
/* Adicione ao seu arquivo style.css */
nav ul a {
    transition: color 0.3s ease;
    position: relative;
    text-decoration: none;
    color: #ff25ac; /* Adicionado para garantir que a cor seja sempre branca */
}

nav ul a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #ff25ac; /* Cor do sublinhado */
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

nav ul a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}
nav ul a:hover {
    color: #ff25ac; /* Altere a cor conforme desejado */
}


nav ul li {
    display: inline;
    margin-right: 10px;
}

/* Estilos para as seções */
section {
    padding: 25px 0;
    border: #000000;
    border-color: #000000;
}

section h1 {
    font-size: 2em;
    margin-bottom: px;
}

/* Estilos para links */
a {
    color: #ffffff;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

/* Estilos para o rodapé */
footer {
    padding: 15px;
    text-align: center;
    width: 100%;
    bottom: 0;
    border-radius: 10px;
    background-color: #333333;
    color: #fff;
}

footer a {
    transition: color 0.3s ease;
    position: relative;
    text-decoration: none;
    color: #fff; /* Adicionado para garantir que a cor seja sempre branca */
}

footer a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #ff25ac; /* Cor do sublinhado */
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

footer a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}
footer a:hover {
    color: #ff25ac; /* Altere a cor conforme desejado */
}

.fab.fa-github,
.fab.fa-linkedin {
    color: #000000; /* Substitua com a cor desejada */
}

.fab.fa-github.modo-escuro,
.fab.fa-linkedin.modo-escuro {
    color: #ffffff; /* Substitua com a cor desejada */
}

.icon-container {
    display: grid;
    flex-direction: column;
    align-items: center;
    border: 20px;
    padding: 10px;
    transition: background-color 0.3s ease;
}

.icon-container i {
    display: block;
    margin: 0 auto;
}

.icon-container p {
    font-size: 1.2em;
    font-weight: bold;
}

.icon-container:hover {
    background-color: #ff25ac; /* Altere a cor conforme desejado */
}

.tec {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    padding: 10px;
}

body.modo-escuro {
    background-color: #000;
    color: #fff;
}

footer.modo-escuro {
    background-color: #222;
    color: #fff;
}

/* Adicione aqui outras regras de estilo para o modo escuro */
/* Estilos para o botão de modo escuro */
#modo-escuro {
    cursor: pointer;
    transition: transform 0.2s, border 0.2s, padding-left 0.2s, padding-top 0.2s;
    position: relative;
    max-width: 40px;
    border-radius: 25px;
    justify-self: center;
    padding-left: 0.5px;
    padding-top: 0.5px;
    border: #000 solid;
    border-width: 0.3px;
}

#modo-escuro.modo-escuro {
    border: #ffffff solid;
    padding-top: 0.5px;
    max-width: 40px;
    border-radius: 25px;
    justify-self: center;
    padding-left: 20px;
    border-width: 0.3px;
}




.fa-solid.fa-angle-up {
    color: #000;
}

.fa-solid.fa-angle-up.modo-escuro {
    color: #ffffff;
}

.fa-solid.fa-circle-half-stroke {
    color: black;
}

.fa-solid.fa-circle-half-stroke.modo-escuro {
    color: rgb(255, 255, 255);
}


@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
.hidden {
    display: none;
}

#icone-scroll {
    position: fixed;
    cursor: pointer;
    font-size: 1.5em;
    justify-content: center;
    max-width: fit-content;
    opacity: 0;
    right: 50%;
    top: 10%;
}

.fadeInAnimation {
    animation: fadeIn 1.0s forwards;
}

.fadeOutAnimation {
    animation: fadeOut 1.0s backwards;
}

.fab.fa-linkedin.fa-2x, .fab.fa-github.fa-2x, .fa-solid.fa-file.fa-2x {
    font-size: 2em;
    transition: transform 0.3s ease, box-shadow 0.3s ease, border-color 0.3s ease; /* Adicionado o efeito de transição na borda */
    border: 20px;
    border-radius: 30px;
    justify-items: center;
}

.fab.fa-linkedin.fa-2x:hover, .fab.fa-github.fa-2x:hover, .fa-solid.fa-file.fa-2x:hover {
    transform: scale(1.1);
    box-shadow: 0 0 10px #ff25ac;
    border-color: #ff25ac; /* Alterado para a cor branca (ou a cor desejada) */
}

.destaque {

        text-decoration: underline;
        text-decoration-color: rgb(0, 0, 0); /* Define a cor do sublinhado */
        text-decoration-thickness: 2px; /* Define a espessura do sublinhado */
    }
    


.rede-social-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(50px, 1fr)); /* Isso cria uma grade flexível */
    justify-items: center; /* Centraliza os ícones horizontalmente */
    align-items: center; /* Centraliza os ícones verticalmente */
    border: 20px;
    padding: 10px;
}

.rede-social-container i {
    font-size: 2em;
    padding: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease, border-color 0.3s ease; /* Adicionado o efeito de transição na borda */
    border: 20px;
    border-radius: 30px;
    justify-items: center;
}

.rede-social-container i:hover {
    transform: scale(1.1);
    box-shadow: 0 0 10px #ff25ac;
    border-color: #ff25ac; /* Alterado para a cor branca (ou a cor desejada) */
}


.rede-social-container p {
    font-size: 1.2em;
    font-weight: bold;
    padding: 10px;
    color: #000;
    text-align: center;
    margin: 0; /* Para remover margens padrão */
}

.rede-social-container.modo-escuro p {
    color: white;
}

.rede-social-container a {
    text-decoration: none;
    color: inherit;
}

.rede-social-container a:hover {
    text-decoration: none;
}

#portfolio {
    overflow: hidden;
}

.projects-container {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
}

.project {
    margin: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    max-width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    scroll-snap-align: start;
    min-width: 33%;
}

.project:hover {
    transform: scale(1.1);
    transition: 0.3s;
}

.project img {
    max-width: 100%;
    border-radius: 5px;
}

.project h2 {
    margin: 10px 0;
}

.project h2 {
    transition: color 0.3s ease;
    position: relative;
    text-decoration: none;
    color: #ff25ac; /* Adicionado para garantir que a cor seja sempre branca */
}

.project h2::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #ff25ac; /* Cor do sublinhado */
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.project h2:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}
.project h2:hover {
    color: #ff25ac; /* Altere a cor conforme desejado */
}

.project h2:hover.modo-escuro {
    color: #ff25ac; /* Altere a cor conforme desejado */
}

.project h2 {
    text-decoration: none;
    color: #ffffff;
}

.project p {
    font-size: 0.9em;
}

.project h2 {
    color: black;
}

.project h2.modo-escuro {
    color: white;
}



.header-container {
    margin: 0 auto; /* Centraliza a div na página */
}


body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
}

.container {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    border: solid #ff25ac;
    border-radius: 8px;
    border-width: 0.3px;
    border-top: 0;
    border-bottom: 0;
    border-style: dashed;
    padding: 0px 10px;
    width: 100%;
    max-width: 800px; /* Define uma largura máxima opcional */
    flex-grow: 1; /* Faz com que a div se expanda para ocupar o espaço restante */
}


.container.modo-escuro {
    background-color: #000;
    border: solid #ff25ac;
    border-radius: 8px;
    border-width: 0.3px;
    border-style: dashed;
    border-top: 0;
    border-bottom: 0;

}

.container * {
    width: 100%;
}

footer {
    width: 100%; /* Garante que o rodapé tenha a largura total */
    box-sizing: border-box;
    padding: 15px;
    text-align: center;
    border-radius: 10px;
    background-color: #333333;
    color: #fff;
}

/* Estilos para os campos do formulário */
form label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

form input[type="text"],
form input[type="email"],
form textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

form textarea {
    resize: vertical;
}

form input[type="submit"] {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    width: 50%;
}

form input[type="submit"]:hover {
    background-color: #073b00;
    width: 50%;
    transform: scale(0.9);
    transition: 0.2s;

}

/* Estilos para o contêiner do formulário */
form {
    max-width: 500px;
    margin: auto;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
/* Adicionando um pouco de espaço entre os campos */
form input,
form textarea {
    margin-bottom: 10px;
}

/* Estilos para o rótulo */
form label.modo-escuro {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #fff; /* Modo escuro */
}

/* Estilos para os campos de entrada de texto e textarea */
form input[type="text"].modo-escuro,
form input[type="email"].modo-escuro,
form textarea.modo-escuro {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #333; /* Modo escuro */
    color: #fff; /* Modo escuro */
}

/* Estilos para o textarea */
form textarea.modo-escuro {
    resize: vertical;
}

/* Estilos para o botão de envio */
form input[type="submit"].modo-escuro {
    background-color: #000;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    width: 50%;
}

/* Efeito hover para o botão de envio */
form input[type="submit"].modo-escuro:hover {
    background-color: #073b00;
    width: 50%;
    transform: scale(0.9);
    transition: 0.2s;
}

/* Estilos para o contêiner do formulário */
form.modo-escuro {
    max-width: 500px;
    margin: auto;
    background-color: #333;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Adicionando um pouco de espaço entre os campos */
form input.modo-escuro,
form textarea.modo-escuro {
    margin-bottom: 10px;
}

.foto {
    width: 150px;
    height: 150px;
    border-radius: 1000px;
    border: #ff25ac solid;
    
}

.foto.modo-escuro {
    width: 150px;
    height: 150px;
    border-radius: 1000px;
    border: #ff25ac solid;
    
}

.idioma-switch {
    font-family: 'Inconsolata', monospace; /* Change the font if needed */
    /* Add some space around the switcher */
    max-width: fit-content;
    display: grid;
    
}

/* Style the select element */
#idioma {
    font-family: 'Inconsolata', monospace;
    padding: 0px; /* Adjust padding as needed */
    font-size: 17px; /* Adjust font size as needed */
    border: 0; /* Add a border */
    border-radius: 5px; /* Add some border radius */
    background-color: #333; /* Set the background color */
    color: #ffffff;
}

/* Style the options inside the select element */
#idioma option {
    font-family: 'Inconsolata', monospace;
    background-color: #fff; /* Set the background color */
    color: #000000; /* Set the text color */
}

/* Optional: Add some hover effect for options */

