/* Reset de estilos para garantir uma base consistente em diferentes navegadores */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos gerais para o corpo da página */
body {
    font-family: 'Inconsolata', monospace;
    line-height: 1.6;
    padding: 2%;
}

/* Estilos para o cabeçalho */
header {
    display: flex;
    justify-content: center; /* Isso separa os elementos no header */
    align-items: center;
    background-color: #333;
    color: #ffffff;
    padding: 15px;
    border-radius: 10px;
    z-index: 1000;
    position: fixed;
    width: 95%;
}

.nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center; /* Isso centraliza os elementos de navegação */
}

.sobre {
    display: block;
}


.nav a {
    text-decoration: none;
    color: #ffffff;
    padding: 0 10px; /* Espaçamento entre os links */
}
/* Adicione ao seu arquivo style.css */
nav ul a {
    transition: color 0.3s ease;
    position: relative;
    text-decoration: none;
    color: #fff; /* Adicionado para garantir que a cor seja sempre branca */
}

nav ul a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #ffffff; /* Cor do sublinhado */
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

nav ul a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}
nav ul a:hover {
    color: #ffffff; /* Altere a cor conforme desejado */
}


nav ul li {
    display: inline;
    margin-right: 10px;
}

/* Estilos para as seções */
section {
    padding: 50px 0;
    border: #000000;
    border-color: #000000;
}

section h1 {
    font-size: 2em;
    margin-bottom: 20px;
}

/* Estilos para links */
a {
    color: #ffffff;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

/* Estilos para o rodapé */
footer {
    padding: 15px;
    text-align: center;
    width: 100%;
    bottom: 0;
    border-radius: 10px;
    background-color: #333333;
    color: #fff;
}

.fab.fa-github,
.fab.fa-linkedin {
    color: #000000; /* Substitua com a cor desejada */
}

.fab.fa-github.modo-escuro,
.fab.fa-linkedin.modo-escuro {
    color: #ffffff; /* Substitua com a cor desejada */
}

.icon-container {
    display: grid;
    flex-direction: column;
    align-items: center;
    border: 20px;
    padding: 10px;
    transition: background-color 0.3s ease;
}

.icon-container i {
    display: block;
    margin: 0 auto;
    padding: 10px;
}

.icon-container p {
    font-size: 1.2em;
    font-weight: bold;
    padding: 10px;
}

.icon-container:hover {
    background-color: #f0f0f0; /* Altere a cor conforme desejado */
}

.tec {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    padding: 10px 0;
}

body.modo-escuro {
    background-color: #000;
    color: #fff;
}

footer.modo-escuro {
    background-color: #222;
    color: #fff;
}

/* Adicione aqui outras regras de estilo para o modo escuro */
/* Estilos para o botão de modo escuro */
#modo-escuro {
    cursor: pointer;
    transition: transform 0.2s;
    position: fixed;
    bottom: 150px;
    right: 25px;
}

#modo-escuro.ativo {
    transform: scale(1.1);
}

.fa-solid.fa-angle-up {
    color: #000;
}

.fa-solid.fa-angle-up.modo-escuro {
    color: #ffffff;
}

.fa-solid.fa-circle-half-stroke {
    color: black;
}

.fa-solid.fa-circle-half-stroke.modo-escuro {
    color: rgb(255, 255, 255);
}

#icone-scroll {
    position: fixed;
    bottom: 200px;
    right: 20px;
    cursor: pointer;
    font-size: 2em; /* Tamanho do ícone (ajuste conforme necessário) */
}

.rede-social-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(50px, 1fr)); /* Isso cria uma grade flexível */
    gap: 10px; /* Espaço entre os ícones */
    justify-items: center; /* Centraliza os ícones horizontalmente */
    align-items: center; /* Centraliza os ícones verticalmente */
    margin-bottom: 10px; /* Espaço entre a seção "Social" e os ícones */
    border: 20px;
    padding: 10px;
}

.rede-social-container i {
    font-size: 2em;
    padding: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease, border-color 0.3s ease; /* Adicionado o efeito de transição na borda */
    border: 20px;
}

.rede-social-container i:hover {
    transform: scale(1.1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-color: #ffffff; /* Alterado para a cor branca (ou a cor desejada) */
}


.rede-social-container p {
    font-size: 1.2em;
    font-weight: bold;
    padding: 10px;
    color: #000;
    text-align: center;
    margin: 0; /* Para remover margens padrão */
}

.rede-social-container.modo-escuro p {
    color: white;
}

.rede-social-container a {
    text-decoration: none;
    color: inherit;
}

.rede-social-container a:hover {
    text-decoration: none;
}

