/* Reset de estilos para garantir uma base consistente em diferentes navegadores */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos gerais para o corpo da página */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

/* Estilos para o cabeçalho */
header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    justify-content: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

/* Estilos para as seções */
section {
    padding: 50px 0;
}

section h1 {
    font-size: 2em;
    margin-bottom: 20px;
}

/* Estilos para links */
a {
    color: #007BFF;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Estilos para o rodapé */
footer {
    background-color: #f8f8f8;
    padding: 20px 0;
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 0;
}

